<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.mere.teacherschedule" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacultiesActivity"
            android:label="@string/title_activity_faculties" >
        </activity>
        <activity
            android:name=".FacultyActivity"
            android:label="@string/title_activity_faculty" >
        </activity>
        <activity
            android:name=".TeachersActivity"
            android:label="@string/title_activity_teachers" >
        </activity>
        <activity
            android:name=".TeacherActivity"
            android:label="@string/title_activity_teacher" >
        </activity>
        <activity
            android:name=".CathedriesActivity"
            android:label="@string/title_activity_cathedries" >
        </activity>
        <activity
            android:name=".CathedraActivity"
            android:label="@string/title_activity_cathedra" >
        </activity>
        <activity
            android:name=".CathedriesOfFacultyActivity"
            android:label="@string/title_activity_cathedra_of_faculty">
        </activity>
    </application>

</manifest>
